---
import Banner from '../components/Banner.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Knowledge from '../components/Knowledge.astro';
import '@fontsource/keania-one';
import '@fontsource-variable/noto-sans-tc';
---
<Layout>
	<Container>
		<Banner />
	</Container>
	<Container h="h-auto">
		<Project />
	</Container>
	<Container h="h-auto mt-20 mb-20">
		<Knowledge />
	</Container>
	<Container h="h-auto mt-20 mb-20">
		<p>I'm a front-end developer with a passion for creating user-friendly and accessible websites. I have experience working with React, Next.js, and Tailwind CSS. I also have a strong background in JavaScript and TypeScript.</p>
	</Container>
</Layout>
