---
import BtnDownload from "./BtnDownload.astro";
import { Icon } from "astro-icon/components";
---

<section class="h-full flex justify-center flex-col gap-4">
  <div class="w-4/6 gap-5 flex flex-col items-start">
    <h1 class="text-6xl text-6xl text-[#70979A] title-banner">
      Desarrollador Full Stack
    </h1>
    <p class="text-base text-white">
      Haz realidad tus ideas web con un experto en desarrollo freelance a tu
      lado, listo para convertir tus sueños digitales en realidad.
    </p>
    <BtnDownload />
  </div>
  <div class="w-full flex justify-end">
    <Icon name="banner" width={472} height={357} />
  </div>
</section>

<style>
  .title-banner {
    font-family: "Keania One", system-ui;
  }
  p {
    font-family: "Noto Sans TC Variable", sans-serif;
  }
</style>
