---
const { extraClass } = Astro.props;
---

<input id="checkbox" type="checkbox" />
<label class={`toggle ${extraClass}`} for="checkbox">
  <div id="bar1" class="bars"></div>
  <div id="bar2" class="bars"></div>
  <div id="bar3" class="bars"></div>
</label>
<script>
  const checkbox = document.getElementById("checkbox") as any;

  checkbox.addEventListener("change", () => {
    const nav = document.getElementById("nav-menu") as any;
    if (nav.classList.contains("open")) {
      nav.classList.remove("open");
      nav.classList.add("close");
      setTimeout(() => {
        nav.classList.remove("close");
      }, 1500);
    } else {
      nav.classList.add("open");
    }
  });
</script>

<style>
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: #70979a;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1 {
    width: 50%;
  }

  #bar2 {
    width: 75%;
  }
  #checkbox:checked + .toggle {
    z-index: 10;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.1s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  .toggle {
    display: none;
  }
  @media (max-width: 968px) {
    .toggle {
      display: flex;
    }
  }
</style>
