---
import { Image } from "astro:assets";
---

<header class="w-full fixed z-[60] bg-[#090807]">
  <div
    class="top-0 z-[9] p-[40px] pb-[20px] flex flex-row justify-between max-w-[1280px] mx-auto"
  >
    <Image
      src={import("../assets/logo.png")}
      alt="logo"
      width={141}
      height={41}
      class="img-header"
    />
    <nav class="w-auto">
      <ul class="flex h-full gap-16 justify-center items-center">
        <li class="hover:text-[#70979A] hover:scale-125 transition-all">
          <a href="#start"> inicio </a>
        </li>
        <li class="hover:text-[#70979A] hover:scale-125 transition-all">
          <a href="#project"> proyectos </a>
        </li>
        <li class="hover:text-[#70979A] hover:scale-125 transition-all">
          <a href="#knowledge"> conocimientos </a>
        </li>
        <li class="hover:text-[#70979A] hover:scale-125 transition-all">
          <a href="#service"> servicios </a>
        </li>
        <li class="hover:text-[#70979A] hover:scale-125 transition-all">
          <a href="#contact"> Contactame </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  const links = document.querySelectorAll("nav a");
  links.forEach(function (link: any) {
    link.addEventListener("click", function (event: any) {
      event.preventDefault();
      const section = document.querySelector(`${link.getAttribute("href")}`);
      section?.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>
<style>
  nav {
    font-family: "Noto Sans TC Variable", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #f3f0ed;
  }
  @media (max-width: 968px) {
    nav{
      display: none;
    }
    .img-header{
      width: 100px;
    }
    header > div{
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
  @media (max-width: 642px) {
    .img-header{
      width: 80px;
    }
  }
</style>
