---
const { title, extaClass } = Astro.props;
---

<h2 class={`text-6xl text-[#70979A] title-banner w-full text-center mb-20 ${extaClass}`}>
  {title}
</h2>

<style>
  .title-banner {
    font-family: "Keania One", system-ui;
  }
  @media (max-width: 968px) {
    h2{
      font-size: 42px;
    }
  }
  @media (max-width: 768px) {
    h2{
      font-size: 36px;
    }
  }
</style>
