---
const { title } = Astro.props;
---

<h2 class="text-6xl text-[#70979A] title-banner w-full text-center">
    {title}
</h2>

<style>
    .title-banner {
        font-family: "Keania One", system-ui;
    }
</style>