html, body, h1, h2, h3, h4, h5, h6, p, div, a, ul, li, span, nav, header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body{
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 900;
}

/*Navegación*/
.header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  background-color: #123142;
  z-index: 8;
  ;
}

.nav{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 150px;
  z-index: 99;
}

.nav ul{
  list-style: none;
  display: none;
}
.nav ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav ul a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#buttonMenu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  z-index: 99;
}

.line {
  width: 50%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: transform 1s linear;
}


/*animación menu*/
.one {
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.three {
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.two {
  transition: opacity .25s linear;
}

.close-menu .one {
  animation-name: animation-menu-close-one;
}
.close-menu .three {
  animation-name: animation-menu-close-three;
}
.close-menu .two {
  opacity: 1;
}

.open-menu .one {
  animation-name: animation-menu-open-one;
}
.open-menu .three {
  animation-name: animation-menu-open-three;
}
.open-menu .two {
  opacity: 0;
}

@keyframes animation-menu-open-one {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(13px);
  }
  100%{
    transform: translateY(13px) rotate(48deg);
  }
}
@keyframes animation-menu-open-three {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-14px);
  }
  100%{
    transform: translateY(-14px) rotate(-48deg);
  }
}
@keyframes animation-menu-close-one {
  0%{
    transform: translateY(13px) rotate(48deg);
  }
  50%{
    transform: translateY(13px) rotate(0deg);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes animation-menu-close-three {
  0%{
    transform: translateY(-14px) rotate(-48deg);
  }
  50%{
    transform: translateY(-14px) rotate(0deg);
  }
  100%{
    transform: translateY(0px);
  }
}

.open-menu .nav{ 
  animation-name: open-nav;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.close-menu .nav{ 
  animation-name: close-nav;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes open-nav {
  0%{
    width: 5px;
    height: 5px;
  }
  100%{
    width: 100%;
    height: 100vh;
    background-color: #00000095;
  }
}
@keyframes close-nav {
  0%{
    width: 100%;
    height: 100vh;
    background-color: #00000090;
  }
  100%{
    width: 5px;
    height: 5px;
  }
}

.open-menu .nav ul{
  display: block;
}

/*Banner*/
.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #123142;
  justify-content: center;
  align-items: start;
}

.banner h1{
  font-size: 45px;
  padding: 15px;
  color: white;
}

.banner p{
  padding: 15px;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.banner img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Sobre mi*/
.about{
  margin: 150px 15px 50px;
  position: relative;
  z-index: -1;
}

.about p {
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 25px;
}

.circle {
  background-color: #3b657a;
  border-radius: 50%;
  margin: auto;
}

.circle-one {
  position: absolute;
  right: 0;
  top: -125px;
  width: 230px;
  height: 230px;
  z-index: -5;
}

.circle-two {
  width: 280px;
  height: 280px;
  background-image: url("img/about.svg");
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}

.knowledge{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: bold;
}

.knowledge div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knowledge img {
  margin-bottom: 10px;
  width: 60%;
}

/*projects*/
.projects{
  background-color: #123142;
  padding: 15px;
  z-index: -6;
}

.projects h2 {
  color: white;
}

.container-projects{
  margin: auto;
}

.container-projects .card {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: margin .5s linear;
  position: relative;
}

.container-projects .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
  transition: transform .5s linear;

}

.container-projects .card .info {
  position: absolute;
  bottom: 0;
  color: white;
  opacity: 0;
  transition: opacity .5s linear;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-projects .card .info div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.container-projects .info span {
  background-color: white;
  color: #123142;
  padding: 5px 10px;
  border-radius: 25px;
}

.container-projects .info a {
  text-decoration: none;
  color: white;
  width: 0px;
  overflow: hidden;
  transition: width 1s linear 0.5s;
}

.container-projects .card:hover {
  margin-top: 150px;
}

.container-projects .card:hover .info {
  display: flex;
  opacity: 1;
}

.container-projects .card:hover a {
  margin: auto;
  text-align: center;
  width: 250px;
} 

.container-projects .card:hover img {
  transform: translateY(-125px);
}

/*services*/
.services{
  padding: 15px;
  background-color: #3b657a;
}

.services h2 {
  color: white;
}

.services h3 {
  font-size: 20px;
  font-weight: 900;
}

.services p {
  text-align: left;
}

.container-services {
  width: 90%;
  margin: auto;
}

.container-services div {
  text-align: center;
  margin-bottom: 15px;
  padding: 15px 0;
  background-color: white
  ;
}

.container-services img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.container-services p {
  text-align: justify;
  margin: 15px 15px 0;
}

/*contact*/
.contact {
  margin: 30px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.btn-cv {
  border: 1px solid #123142;
  padding: 15px 20px;
  margin: 25px auto;
  text-decoration: none;
  background-color: white;
}

.container-contacts {
  display: flex;
  justify-content: space-around;
}

.container-contacts a {
  width: 50px;
  height: 50px;
  border: 2px solid #123142;
  border-radius: 25px;
  padding: 15px;
}

.container-contacts img{
  width: 100%;
  height: 100%;
}

/*footer*/
footer{
  background-color: #123142;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}